{% extends "blog/base.html"%}

{% block content %}
	<h3>{{ posts.title }}</h3> <br/>
	Created : {{ posts.created }} &nbsp&nbsp
	Last Updated : {{ posts.updated }}<br/><br/>
	<p>{{ posts.body }}</p>
	<h5>COMMENTS</h5><hr/>

	{% for c in comments %}
		Author : {{ c.author }} <br/>
		Created : {{ c.created }} &nbsp&nbsp
		Last Updated : {{ c.updated }} <br/><br/>
		<p>{{c.body}}</p>
		<div>
			<a href="/blog/comments/{{ c.id }}/edit">
			Edit Comment
			</a>
		</div><hr/>
	{% endfor %}
	<br/>

	<h5>New comment:</h5>
	<div>
	<form class="well form-inline" method='post' action="">
		{{ form.as_p }}
		<input class="btn btn-primary" type='submit' name='Submit' value='Submit'>
	</form>
	</div>



{% endblock %}
